:root {
  --footer-height: 60px;
  --logo-height: 8rem;
  --font-size: 2rem;
  --radius: 3px;
  --white-key-height: 500px;
  --white-key-width: 5.5rem;
  --white-key-padding: 400px;
  --black-key-height: 250px;
  --black-key-width: 3.125rem;
  --black-key-padding: 200px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: auto;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  background: none;
  appearance: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

.playground {
  text-align: center;
}
